@model IEnumerable<Booking.Models.Flight>

@{
    ViewData["Title"] = "Flight";
}
<div class="row">
    <div class="col-6">
        <h1>All Flights</h1>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-success right">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Airline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
